@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{ var user = await UserManager.GetUserAsync(User);}

@{
    ViewData["Title"] = "CustomerIndex";
}

<div class="index-content">
    <div class="container">
        <a asp-controller="Items" asp-action="Create">
            <div class="col-lg-4">
                <div class="card">
                    <h4>Donate</h4>
                </div>
            </div>
        </a>
        @if (user != null)
        {
           <a asp-controller="Donations" asp-action="Index">
                <div class="col-lg-4">
                    <div class="card">
                        <h4>See Previous Donations</h4>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

