

@{
    ViewData["Title"] = "Home Page";
}

<div class="index-content">
    <div class="container">
        <a asp-controller="Donations" asp-action="Index">
            <div class="col-lg-4">
                <div class="card">
                    <h4>Available Donations</h4>
                </div>
            </div>
        </a>
        <a asp-controller="ItemTypes" asp-action="Index">
            <div class="col-lg-4">
                <div class="card">
                    <h4>Donation Categories</h4>
                </div>
            </div>
        </a>
        @* TO DO *@
        @*<a asp-controller="Donations" asp-action="Index">
            <div class="col-lg-4">
                <div class="card">
                    <h4>View Completed Donations</h4>
                </div>
            </div>
        </a>*@
    </div>
</div>

