@model IEnumerable<DonationPickUpServices.Models.ItemType>

@{
    ViewData["Title"] = "Index";
}

<div class="info-header">
    <h2>Viewing Donation Categories</h2>
    <p>
        <a class="create-type-btn btn btn-default" asp-action="Create">New Category</a>
    </p>
</div>

<div class="index-content">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="type-card card">
                <h4>@item.Title</h4>
                <div class="card-buttons">
                    <a class="edit-btn btn btn-success" asp-action="Edit" asp-route-id="@item.ItemTypeId">Edit</a>
                    <a class="delete-btn btn btn-danger" asp-action="Delete" asp-route-id="@item.ItemTypeId">Delete</a>
                </div>
            </div>
        </div>

    }
</div>
